<header>
  <nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-cart-shopping" style="padding: 5px"></i>
        20127530-Shop
      </a>
    </div>
  </nav>
</header>

{{!--
<script src="/js/header.js"></script> --}}